.App {
    text-align: left;
    background-color: white;
    margin-bottom: 100px;
}

.title {
    font-family: 'ABeeZee';
    color: black;
    margin: 50px;
    font-weight: bold;
    font-size: 4vh;
}

.question_title {
    font-family: 'ABeeZee';
    color: black;
    font-weight: bold;
    font-size: 4vh;
}

.App>.body {
    font-family: 'Myriad Pro Regular';
    color: black;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
}

.note {
    font-family: 'Myriad Pro Regular';
    color: black;
    margin-left: 50px;
}

.reminder {
    font-family: 'Myriad Pro Regular';
    color: black;
    font-size: 20px;
}

.start-button {
    margin: 0 50px;
    border-color: none;
    color: black;
    text-align: center;
    font-size: 24px;
    width: 200px;
    height: 50px;
}

.button {
    border-color: none;
    color: black;
    text-align: center;
    font-size: 24px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}

.button-consent {
    border-color: none;
    color: black;
    text-align: center;
    font-size: 16px;
    width: 200px;
    height: 50px;
    margin-left: 50px;
}

.identLi {
    margin-left: 1em;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}

ol>li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

ol>li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

.alignCenter {
    text-align: center;
}

.Eyevote {
    background: #feecce;
    font-family: "Microsoft Sans Serif";
    color: dimgray;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.Accuracy {
    background: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header {
    position: relative;
    color: dimgray;
    font-size: 6vh;
    text-align: center;
    top: 20vh;
}

.titleEyeVote {
    position: relative;
    color: dimgray;
    font-size: 6vh;
    text-align: center;
}

.descriptionBox {
    vertical-align: middle;
    margin: auto;
}

.marginTop {
    margin-top: 6vh;
}

.instructions {
    position: relative;
    color: dimgray;
    text-align: center;
    font-size: 3.5vh;
    width: 100%;
}

.question {
    color: dimgray;
    text-align: center;
    font-size: 6vh;
    width: 100%;
    /* top: 50px; */
    /* left: 30vw; */
    margin-top: 0;
    padding: 20px
}

.answerOne {
    position: absolute;
    width: 9vh;
    height: 9vh;
    /* text-align: center;
    line-height: 2;
    /* background-color: white; */
    color: white;
    border-radius: 3vh;
    top: 35vh;
    left: 25vw;
    animation: circular 12s linear infinite;
}

.answerTwo {
    position: absolute;
    width: 10vh;
    height: 10vh;
    text-align: center;
    line-height: 2;
    /* background-color: white; */
    color: white;
    border-radius: 3vh;
    top: 35vh;
    left: 15vw;
    animation: zigzag 13s linear infinite;
    animation-direction: alternate;
}

.answerThree {
    position: absolute;
    width: 10vh;
    height: 10vh;
    text-align: center;
    line-height: 2;
    /* background-color: white; */
    color: white;
    border-radius: 3vh;
    animation-name: diagonal;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes diagonal {
    from {
        top: 20vh;
        left: 80vw
    }

    to {
        top: 50vh;
        left: 50vw
    }
}

@keyframes circular {
    from {
        transform: rotate(0deg) translateX(11vw) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(11vw) rotate(-360deg);
    }
}

@keyframes zigzag {
    0% {
        top: 70vh;
        left: 83vw
    }

    20% {
        top: 55vh;
        left: 70vw
    }

    40% {
        top: 70vh;
        left: 55vw
    }

    60% {
        top: 55vh;
        left: 44vw
    }

    80% {
        top: 70vh;
        left: 30vw
    }

    100% {
        top: 55vh;
        left: 13vw
    }
}


.eyevotebutton {
    position: relative;
    border-color: none;
    color: gray;
    text-align: center;
    font-size: 3vh;
    padding: 1em;
}

.boxCenter {
    text-align: center;
}

.dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 100%;
}

.select {
    z-index: 99;
    background-color: red;
    color: white;
}

.dimgray {
    color: dimgray;
}

.radio_op {
    margin: 12px 0;
    font-size: 3vh;
}

.green {
    color: green;
}

.red {
    color: salmon;
}

.pink {
    color: #f58e83
}

.brown {
    color: chocolate;
}