.alignCenter {
    text-align: center;
}

.Eyevote {
    background: dimgray;
    font-family: "Microsoft Sans Serif";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.Accuracy {
    background: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header {
    position: relative;
    color: white;
    font-size: 6vh;
    text-align: center;
    top: 20vh;
}

.titleEyeVote {
    position: relative;
    color: white;
    font-size: 6vh;
    text-align: center;
}

.descriptionBox {
    vertical-align: middle;
    margin: auto;
}

.marginTop {
    margin-top: 6vh;
}

.instructions {
    position: relative;
    color: white;
    text-align: center;
    font-size: 3.5vh;
    width: 100%;
}

.question {
    color: white;
    font-size: 6vh;
    width: 100%;
    top: 50px;
    left: 30vw;
    margin-top: 0;
    padding: 20px
}

.answerOne {
    position: absolute;
    color: blue;
    color: white;
    font-size: 6vh;
    top: 35vh;
    left: 15vw;
    animation: circular 17s linear infinite;
    animation-direction: alternate;
    /* offset-path: path("M100,0 A100,100 0 1,1 100,200 A100,100 0 1,1 100,0"); */
}

.answerTwo {
    position: absolute;
    color: red;
    color: white;
    font-size: 6vh;
    animation: zigzag 15s linear infinite;
    animation-direction: alternate;
}

.answerThree {
    position: absolute;
    color: green;
    color: white;
    font-size: 6vh;
    animation-name: diagonal;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.answerOne-fix {
    position: absolute;
    color: blue;
    font-size: 6vh;
    top: 35vh;
    left: 13vw;
    /* animation: circular 17s linear infinite; */
    /* animation-direction: alternate; */
    /* offset-path: path("M100,0 A100,100 0 1,1 100,200 A100,100 0 1,1 100,0"); */
}

.answerTwo-fix {
    position: absolute;
    /* color: red; */
    color: sandybrown;
    font-size: 6vh;
    top: 67vh;
    left: 65vh;
    /* animation: zigzag 23s linear infinite; */
    /* animation-direction: alternate; */
}

.answerThree-fix {
    position: absolute;
    color: green;
    font-size: 6vh;
    top: 35vh;
    left: 96vh;
    /* animation-name: diagonal; */
    /* animation-duration: 10s; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
    /* animation-timing-function: linear; */
}

@keyframes diagonal {
    from {
        top: 22vh;
        left: 69vw
    }

    to {
        top: 55vh;
        left: 47vw
    }
}

@keyframes circular {
    from {
        transform: rotate(0deg) translateX(11vw) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(11vw) rotate(-360deg);
    }
}

@keyframes zigzag {
    0% {
        top: 80vh;
        left: 69vw
    }

    20% {
        top: 69vh;
        left: 56vw
    }

    40% {
        top: 80vh;
        left: 43vw
    }

    60% {
        top: 69vh;
        left: 30vw
    }

    80% {
        top: 80vh;
        left: 17vw
    }

    100% {
        top: 69vh;
        left: 4vw
    }
}

.eyevotebutton {
    position: relative;
    border-color: none;
    color: gray;
    text-align: center;
    font-size: 3vh;
    padding: 1em;
}

.boxCenter {
    text-align: center;
}

.dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 100%;
}